html{
	margin: 0;
}
body{
	background-color: #fff;
}

.secondtable{
	font-family: System, sans-serif;
    border-collapse: collapse;
    width: 67%;
}
td, th{
	border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    height: 36px;
}
 th{
	
    background-color: silver;
}
.table3{
	font-family: System, sans-serif;
    border-collapse: collapse;
    width: 55%;
    margin-top: 48px;
    margin-bottom: 45px;
    
}




			





@media(max-width: 768px){
	
	}

@media(max-width: 480px){

}